<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daocheng.girlshop">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.TIMEZONE_CHANGED" />
    <uses-permission android:name="android.permission.DATE_CHANGED" />
    <uses-permission android:name="android.permission.TIME_SET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 空间权限-->
    <!--【必选】用以设置前台是否显示通知-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 微信支付-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- umeng推送 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 极光推送 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 讯飞语音权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--sign bab7f80955c908fa6ec9860342c41eec -->

        <!--讯飞语音-->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'5744fab0'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />

        <!--umengApp 56d56cb967e58e3d7a001308-->
        <!--44:D1:DE:65:37:D4:A6:D2:8A:38:D7:C2:15:F3:FA:85:27:7A:98:A6-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TfXHmPemhgXacdeXSZ836SA9" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d56cb967e58e3d7a001308"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="suzhou" />


        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:icon="@drawable/new_icon"
            android:screenOrientation="portrait">

        </activity>



        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>



        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>







        <!-- 视频-->
        <activity
            android:name=".video.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".video.ListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".video.ListViewpagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".video.MultiHolderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".video.LoadImageActivity"
            android:screenOrientation="portrait" />
        <!-- 视频 End-->


        <!-- 讯飞语音 在线合成语音 -->
        <activity
            android:name=".voice.TtsDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.daocheng.girlshop.voice.speech.setting.TtsSettings"></activity>
        <!-- 讯飞语音 在线合成语音 End-->


        <!-- 短信平台-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 时代英语-->
        <activity
            android:name=".activity.shidai.loginActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".activity.shidai.registActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.YyksActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.dingkeDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.PlunActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.pingjiaActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.list.DataListActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.SingActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.RmtjActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.YykwDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.dataDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.YykwActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.TjzyActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.ZyActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.SmzyActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.RdkcActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.JincaiActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.videoDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <service android:name=".media.MusicService">

            <intent-filter>
                <action android:name="co.mobiwise.musicplayerprogressview.MusicService"/>
            </intent-filter>
        </service>
        <activity
            android:name=".media.MusicActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".media.recoder.recoderActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.pinglunActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.list.ZipinglunActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.detail.waijiaoActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.shidai.secretEditActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:icon="@mipmap/new_icon"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".jpush.DialogActivity"
            android:icon="@mipmap/new_icon"
            android:theme="@style/DialogTransparent"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>

        <!-- 时代英语 End-->




        <!-- jpush-->
        <!-- For test only 测试的主程序-->
        <activity
            android:name=".jpush.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <!-- For test only 测试高级功能 -->
        <activity android:name=".jpush.PushSetActivity" android:label="@string/app_name"></activity>
        <!-- For test only 测试设置 -->
        <activity android:name=".jpush.SettingActivity" android:label="@string/app_name"></activity>
        <!-- For test only 测试状态通知栏，需要打开的Activity -->
        <activity android:name=".jpush.TestActivity" android:exported="false">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.daocheng.girlshop" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.daocheng.girlshop" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.daocheng.girlshop" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.daocheng.girlshop" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="changsh"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="c4db3de578690d0e04561d3c" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>
